<?xml version="1.0" ?>
<model>
  <name>tag36_11_00006</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Kenji Koide, Rick Armstrong</name>
    <email>koide@dei.unipd.it, waitingfortheelectrician@gmail.com</email>
  </author>

  <description>
    An AprilTag marker model for use in Gazebo Harmonic simulations. This model uses
    the tag36h11 family.
  </description>

  <dependencies>
    <gazebo version_gte="8.0.0"/>
  </dependencies>
</model>