<?xml version="1.0"?>

<model>
  <name>Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>calibration_checkerboard.sdf</sdf>

  <description>
    A plane with a reference checkerboard texture on it, used to validate and calibrate camera models. Based on checkerboard_plane by Adam Allevato.
  </description>
</model>
