<?xml version="1.0"?>
<robot name="lidar_mount" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="mass" value="0.1" />

    <link name="lidar_mount_link">
        <visual>
            <geometry>
                <mesh filename="package://common_gazebo_models/meshes/lidar_mount/lidar_mount.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.2095" rpy="0 0 0" />
            <geometry>
                <box size="0.385 0.206 0.419" />
            </geometry>
        </collision>
        <!-- <inertial>
            <origin xyz="0 0 0.2095" rpy="0 0 0" />
            <mass value="${mass}" />
            <inertia ixx="${0.03653 * mass}" ixy="0" ixz="0" iyy="${0.04452 * mass}" iyz="0" izz="${0.02055 * mass}" />
        </inertial> -->
    </link>

    <gazebo reference="lidar_mount_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <link name="velodyne_mount_link" />

    <joint name="mount_to_velodyne_joint" type="fixed">
        <parent link="lidar_mount_link"></parent>
        <child link="velodyne_mount_link"></child>
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </joint>

</robot>
