<?xml version="1.0"?>
<robot name="realsense_mount" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="mass" value="0.014" />

  <link name="realsense_mount_link">
      <visual>
          <geometry>
              <mesh filename="package://common_gazebo_models/meshes/realsense_mount/realsense_mount.dae"/>
          </geometry>
      </visual>
      <collision>
          <origin xyz="0.00965 -0.003639 -0.007" rpy="0 0 0"/>
          <geometry>
              <box size="0.0193 0.0683 0.042"/>
          </geometry>
      </collision>
      <!-- <inertial>
        <origin xyz="0.00965 -0.003639 -0.007" rpy="0 0 0"/>
          <mass value="${mass}"/>
          <inertia
              ixx="0.000001" ixy="0" ixz="0"
              iyy="0.000001" iyz="0"
              izz="0.000001"/>
      </inertial> -->
  </link>

  <gazebo reference="realsense_mount_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <link name="d435_mount_link" />
  <link name="t265_mount_link" />

  <joint name="mount_to_d435_joint" type="fixed">
      <parent link="realsense_mount_link" />
      <child link="d435_mount_link" />
      <origin xyz="0.006 0.000997 0.007955" rpy="0 0 0"/>
  </joint>

  <joint name="mount_to_t265_joint" type="fixed">
      <parent link="realsense_mount_link" />
      <child link="t265_mount_link" />
      <origin xyz="0.0193 -0.007104 -0.02175" rpy="0 0 0"/>
  </joint>
  
</robot>
