<?xml version="1.0" ?>
<model>
    <name>Productique_qc</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Dalil Merad</name>
        <email>dalil.merad.1@ens.etsmtl.ca</email>
    </author>
    <description>A realistic replica of the Productique Quebec smart manufacturing environment</description>
</model>
